:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  display: block;
}
.main {
  margin-top: 20px;
}
.post {
  background-color: rgb(94, 96, 96);
  width: 250px;
  height: 180px;
  margin: 20px auto;
  border-radius: 10px;
  display: block;
  padding: 10px;
  align-content: center;
}
.post:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
